.Content {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  background: #fff;
  width: 460px;
  border-radius: 12px;
  padding: 24px;
  box-sizing: border-box;
}

.EnterActive {
  animation: fade .5s forwards;
}

.ExitActive {
  animation: fade .5s forwards alternate-reverse;
}

//.EnterContent {
//  animation: fadeModal .5s forwards;
//}
//
//.ExitContent {
//  animation: fadeModal .5s forwards alternate-reverse;
//}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}